---
title: Home
---

<!-- Survey box -->
<section class="page-section" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Take the COVID-19 Survey</h2>
                <p class="text-muted"> Do you have or do you suspect that you have a COVID-19 (coronavirus) infection? If so, please help our research by participating in our survey by clicking the button below. </p>
                <a href="https://psusensory.compusensecloud.com/edu/login.aspx?t=86572382-0eec-447a-87ca-eb5c4d4d4d52" target="_blank" class="btn btn-primary text-uppercase" role="button">Take Survey</a>
                
                <!--
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <br>
                <br>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <br>
                <br>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <br>
                <br>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                <button id="surveyButton" class="btn btn-primary text-uppercase" type="submit">English</button>
                -->
            </div>
        </div>
    </div>
</section>

<!-- Introduction -->
<section class="page-section" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Introduction</h2>
                <p class="text-muted"> In response to anecdotal reports of the loss of smell and of taste in people who have tested positive for COVID-19, a group of international smell and taste researchers have united to study how, when and why this is happening and what it can tell us about the Coronavirus. </p>

                <p class="text-muted"> This inclusive group, called The Global Consortium of Chemosensory Researchers (GCCR), consists of open-science contributors: transdisciplinary scientists, clinicians, and patient advocates from all over the world. </p>

                <p class="text-muted">  Because the systems of smell and taste are related, so are the symptoms of loss of these senses. Yet the loss of the sense of smell after a virus, such as a common cold, affects many people, whereas the loss of the sense of taste is reported much less frequently. </p>

                <p class="text-muted"> The GCCR wants to know if smell loss is a frequent symptom of the Coronavirus and if it is accompanied by taste loss. </p>
            </div>
            <!--
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <hr>
                        <h2 class="section-heading text-uppercase">Vision</h2>
                        <p class="text-muted"> The Global Consortium on Chemosensory Research (GCCR) has been started with the aim of uniting chemosensory scientists worldwide to understand reports of the chemosensory issues related to COVID-19. More broadly, the GCCR aspires to define, coordinate, and disseminate global efforts to advance the scientific understanding and clinical practice related to the chemical senses. </p>
                    </div>
                </div>
            </div>
            -->  
        </div>
    </div>
</section>

  <!-- Mission -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Mission</h2>
          <p class="text-muted">The GCCR will foster the advancement of chemosensory science at large, allowing the possibility to test larger samples of participants cross-culturally, strengthening the reliability and validity of chemosensory science across many domains.</p>
            <p class="text-muted"> Currently, the timely mission of the GCCR is to define and coordinate world-wide crowdsourced research to understand the reports of the chemosensory issues related to COVID-19. Subsequently, the establishment of this consortium. </p>
          <p class="text-muted"> In accomplishing this mission, the GCCR’s primary roles are to work cooperatively with its members to: </p>
          <br>
        </div>
      </div>
      <div class="row text-center">
        
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Collaborate</h4>
          <p class="text-muted">Encourage and facilitate global collaboration in concert with local collaboration across countries, labs, scientists and clinicians interested in the chemical senses.  </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Research</h4>
          <p class="text-muted">Encourage and facilitate the implementation of open science practices the GCCR projects will allow the members as well as the community at large to access protocols and data.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Disseminate</h4>
          <p class="text-muted">Encourage and facilitate the development and dissemination of new knowledge by authoring papers based on the core data collected by the GCCR as a group. </p>
        </div>
      </div>
    </div>
  </section>

{% include twitter-feed.html %}

{% include members-map.html %}