---
title: Members
description: Our amazing members are transdisciplinary scientists, clinicians, and patient advocates from all over the world !
---
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing People</h2>
        <h3 class="section-subheading text-muted">The Global Consortium of Chemosensory Researchers (GCCR), consists of open-science contributors: transdisciplinary scientists, clinicians, and patient advocates from all over the world.</h3>
        
          {% include members-map.html %}
          
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Leadership team
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                      <p class="text-muted">
                        The leadership team is responsible for facilitating communication within the GCCR, organizing the GCCR meetings and coordinating the group’s efforts.
                        The leadership committee is composed of a Chair and members, currently (in alphabetical order):
                          <a href="https://foodscience.psu.edu/directory/jeh40">John Hayes</a>; Thomas Hummel; Christine Kelly; Steven Munger; Masha Niv; <a href="https://www.kathrinohla.de" target="_blank" >Kathrin Ohla </a>; <a href="https://vparma.netlify.com/">Valentina Parma</a> (chair); Danielle R. Reed; Maria Veldhuizen.
                      </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Our Members
                    </button>
                </h2>
              </div>
                
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                  <div class="row">  
                    <table class="table table-hover text-left">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Institution</th>
                          <th>Country</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in site.data.members %}
                        <tr>
                          {% if item.url %}
                          <td><a href="{{ item.url }}">{{ item.name }}</a></td>
                          {% else %}
                          <td>{{ item.name }}</td>
                          {% endif %}
                          <td>{{ item.institution }}</td><td>{{ item.country }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
      </div>
    </div>
  </div>
</section>
