---
title: Projects
description: Our open-science research projects related to COVID-19 include a questionnaire regarding taste and smell loss during respiratory illnesses and "at home" assessment.
sitemap:
  priority: 0.8
---
<script src="/assets/vendor/list/list.min.js"></script>
<!-- Projects -->
<section class="page-section" id="intro">
    <div class="container">
         <div class="row">
        <div class="col-lg-12 text-left">
          <h2 class="section-heading text-uppercase text-center">COVID-19 Projects</h2>
            <p class="text-muted"> Global Consortium for Chemosensory Research (GCCR) is a diverse group of scientists, clinicians, patient advocates, and community partners that formed during the COVID-19 pandemic in March 2020. Members are distributed across 30 countries on five continents. </p>

            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Questionnaire
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <h3> Research question &amp; prediction </h3>
                    <p>How prevalent is smell loss during COVID-19? Is COVID-19 related smell loss greater than smell loss due to other viral or respiratory illnesses? We predict that self-reported smell ability  for respondents with COVID-19 will be lower than that of respondents without illness or those with other viral or respiratory illnesses. </p>
                    
                    <h3> Contents </h3>
                    <p>This questionnaire includes items on smell, taste and chemesthesis function, as well as the collection of  information on COVID-19 diagnosis. We also ask about COVID-19 symptoms, other viral and respiratory illness symptoms, other medical conditions, smoking, and medicine use. This will allow us to draw conclusions about how important the reports of loss of smell are relative to other symptoms of COVID-19 and if reports of loss of smell can aid in distinguishing between COVID-19 and other illnesses. Collecting data globally has the advantage of a large sample size and a reduced influence of local factors.</p>
                    
                    <h3>Languages </h3>
                    <p>Arabic, Assamese, Bengali, Chinese (simplified), Chinese (traditional), Dutch, Danish, English, French, Finnish, German, Gujarati, Greek, Hebrew, Hind, Italian, Japanese, Kannada, Malayalam, Marathi, Oriya, Portuguese, Punjabi, Russian, Spanish, Swedish, Slovene, Turkish, Tamil, Telugu, Urdu</p>
                    
                    <h3>OSF page</h3>
                    <p>Details of the questionnaire can be found on <a href="https://osf.io/a3vkw/" target="_blank">our OSF page</a>. Here we describe our planned data processing, statistical tests for hypothesis testing and exploratory analyses. You may also find the preregistration of this study there. You can download simulated data there. Data analysis scripts are available and anonymised data will also be made public there. </p>
                    
                    <h3>Questionnaire</h3>
                    <p>You can take the questionnaire <a href="/surveys/" target="_blank">on this page</a>.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Self Smell &amp; Taste Check
                    </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>The ability to smell, taste and the sensitivity to irritation in the nose and mouth can be impaired for various reasons - for example, in respiratory diseases by cold viruses and also by the new coronavirus (SARS-CoV2; CoViD-19) or even by completely different diseases. </p>

                  <p> We would like to investigate how these senses fluctuate over time. The results will help to assess whether the senses are more or less affected in COVID-19 than in other diseases and healthy people. </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Literature
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                  <div id="literature-list">
                    <form class="form-inline mb-sm-2">
                      <input type="text" class="search form-control mr-sm-2" placeholder="Search"/>
                      <div class="dropdown mr-sm-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sort by
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSortButton">
                          <button type="button" class="sort dropdown-item" data-sort="dateAdded">Date added</button>
                          <button type="button" class="sort dropdown-item" data-sort="year">Year</button>
                          <button type="button" class="sort dropdown-item" data-sort="journal">Journal</button>
                          <button type="button" class="sort dropdown-item" data-sort="authors">Author</button>
                        </div>
                      </div>
                      <div class="ml-auto input-group">
                        <div class="mr-sm-2">Filter tags:</div>
                        <div>
                          <button type="button" class="filter btn btn-sm color-covid19">COVID-19</button>
                          <button type="button" class="filter btn btn-sm color-viral">Viral</button>
                          <button type="button" class="filter btn btn-sm color-case-report">Case report</button>
                          <button type="button" class="filter btn btn-sm color-preprint">Preprint</button>
                          <button type="button" class="filter btn btn-sm color-genes">Genes</button>
                          <button type="button" class="filter btn btn-sm color-smell">Smell</button>
                          <button type="button" class="filter btn btn-sm color-taste">Taste</button>
                          <button type="button" class="filter btn btn-sm btn-light">Reset</button>
                        </div>
                      </div>
                    </form>
                    <ul class="list list-group list-group-flush">
                      {% for item in site.data.literature %}
                      <li class="list-group-item py-2">
                        {% for tag in item.tags %}
                        <span class="badge badge-pill color-{{ tag | slugify }} float-right ml-1"> </span>
                        <span hidden class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
                        {% endfor %}
                        <h6 class="title my-0">{{ item.title }}</h6>
                        <span class="authors">{{ item.authors }}</span>
                        {% if item.year %}<span class="year">({{ item.year }})</span>{% endif %}
                        <span class="journal font-italic">{{ item.journal }}</span>
                        <span hidden class="dateAdded">{{ item.dateAdded }}</span>
                        {% if item.DOI %}<a href="https://doi.org/{{ item.DOI }}" class="doi">{{ item.DOI }}</a>{% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    <ul class="pagination"></ul>
                  </div>
                  <p>This section was last updated {{ site.data.last_update }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>
</section>
<script src="/assets/js/literature.js"></script>