<!-- Contact -->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <p class="section-heading"> <i>please feel free to send us an email at contact.gccr@gmail.com, or access our contact form below</i></p>
      </div>
    </div>  
    <div class="col-lg-12 text-center">
      <a href="https://forms.gle/ZbojYRaQ7d7tAsFv7" target="_blank" class="btn btn-primary btn-xl text-uppercase">Contact Form</a>
      <!-- <button id="googleFormButton" class="btn btn-primary btn-xl text-uppercase"  type="submit">Contact Form</button> -->
    </div>
    <!-- 230802 formspree is too expensive, migrating to google form -->
    <!-- <form
      action="https://formspree.io/mknvrbar"
      method="POST">
      
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Your email *" type="text" name="_replyto" required="required" data-validation-required-message="Please enter your name.">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" name="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter your name."></textarea>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase"  type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form> -->
  </div>
</section>