<!-- Members map -->
<!--section class="page-section" id="members"-->
  <div class="container" id="members">
    <div class="text-center embed-responsive members-map">
      <iframe src="/assets/html/members-map.html" frameBorder="0" class="embed-responsive-item">
        Sorry, your browser isn't able to display our interactive members map. Maybe try Chrome/Firefox. In the meantime, here is a static image of the map:
        <img src="/assets/img/members-map.png" alt="Image of the map" class="img-fluid"/>
      </iframe>
    </div>
  </div>
<!--/section-->