<!-- Share buttons -->
{% if page.language %}
  {% assign shared_link = page.url | absolute_url %}
  {% assign short_url = page.short_url %}
  {% capture qr_path %}img/QR/GCCR-Survey-{{ page.language | replace: ' ', '-' }}-QR.png{% endcapture %}
{% else %}
  {% assign short_url = "https://bit.ly/2zjZtUR" %}
  {% assign shared_link = short_url %}
  {% assign qr_path = "img/QR/GCCR-multilingual-QR.png" %}
{% endif %}
{% assign social_icons_class = "text-dark fa-3x" %}
{% assign defaults = site.surveys | where_exp: "survey", "survey.language == 'English'" | first %}
<!-- Empty section for spacing -->
<div style="height: 5em;"></div>
<div class="container col-lg-6 my-3">
  <div class="row align-items-center pt-1 pb-3">
    <a class="col-2" target="_blank" href="https://twitter.com/share?url={{ shared_link | url_encode }}&amp;text={{ page.description | url_encode }}&amp;hashtags=covid19,smell,taste,GCCR&amp;via=GCChemosensoryR"><i class="{{ social_icons_class }} fab fa-twitter"></i></a>
    <a class="col-2" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fab fa-facebook"></i></a>
    <a class="col-2" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fab fa-linkedin"></i></a>
    <a class="col-2" target="_blank" href="https://wa.me/?text={{ page.description | url_encode }}%0A{{ shared_link | url_encode }}" data-action="share/whatsapp/share"><i class="{{ social_icons_class }} fab fa-whatsapp"></i></a>
    <a class="col-2" target="_blank" href="mailto:?Subject={{ page.description | escape }}&amp;Body={{ page.take_survey | default: defaults.take_survey | escape }}%0A{{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fas fa-envelope"></i></a>
    <a class="col-2" target="_blank" href="/assets/{{ qr_path }}"><i class="{{ social_icons_class }} fas fa-qrcode"></i></a>
  </div>
  <div class="row">
    <h2 class="col text-center text-muted">{{ page.share_survey | default: defaults.share_survey }}</h2>
  </div>
  <div class="row">
    <p class="col text-center"><i class="text-dark fas fa-link mx-1"></i> <a target="_blank" href="{{ short_url }}">{{ short_url }}</a></p>
  </div>
  {% if page.share_selfcheck %}
  <div class="row">
    <h2 class="col text-center text-muted">{{ page.share_selfcheck }}</h2>
  </div>
  <div class="row">
    <p class="col text-center"><i class="text-dark fas fa-link mx-1"></i> <a target="_blank" href="{{ page.selfcheck_url }}">{{ page.selfcheck_url }}</a></p>
  </div>
  {% endif %}
</div>