<!-- Share buttons -->
{% assign shared_link = page.url | absolute_url %}
{% assign social_icons_class = "text-dark fa-3x" %}
{% assign defaults = site.surveys | where_exp: "survey", "survey.language == 'English'" | first %}
<div class="container col-lg-6 my-3">
  <div class="row text-muted">
    <p class="col text-center">{{ page.share_survey | default: defaults.share_survey }}</p>
  </div>
  <div class="row align-items-center pt-1 pb-3">
    <a class="col-2" target="_blank" href="https://twitter.com/share?url={{ shared_link | url_encode }}&amp;text={{ page.description | url_encode }}&amp;hashtags=covid19,smell,taste,GCCR&amp;via=GCChemosensoryR"><i class="{{ social_icons_class }} fab fa-twitter"></i></a>
    <a class="col-2" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fab fa-facebook"></i></a>
    <a class="col-2" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fab fa-linkedin"></i></a>
    <a class="col-2" target="_blank" href="https://wa.me/?text={{ page.description | url_encode }}%0A{{ shared_link | url_encode }}" data-action="share/whatsapp/share"><i class="{{ social_icons_class }} fab fa-whatsapp"></i></a>
    <a class="col-2" target="_blank" href="mailto:?Subject={{ page.description | escape }}&amp;Body={{ page.take_survey | default: defaults.take_survey | escape }}%0A{{ shared_link | url_encode }}"><i class="{{ social_icons_class }} fas fa-envelope"></i></a>
    <a class="col-2" target="_blank" href="/assets/img/QR/GCCR-Survey-{{ page.language | default: defaults.language }}-QR.png"><i class="{{ social_icons_class }} fas fa-qrcode"></i></a>
  </div>
  {% if page.short_url %}
  <div class="row">
    <p class="col text-center">Short link: <a target="_blank" href="{{ page.short_url }}">{{ page.short_url }}</a></p>
  </div>
  {% endif %}
</div>