.members-map {
  padding-top: 60%;
}
.partners-logo {
  max-width: 180px;
}
// literature page
.color-covid19 {background-color: #f78686;}
.color-viral {background-color: #ffd175;}
.color-case-report {background-color: #8ef5da;}
.color-preprint {background-color: #b584cf;}
.color-genes {background-color: #75a3ff;}
.color-smell {background-color: #79db86;}
.color-taste {background-color: #a8916c;}
// survey table
.survey-table {margin: 0 auto;}
.survey-table td {padding: 5px 20px;}
.survey-table img {width: 64px;}