---
title: GCCR surveys
description: Participate in the GCCR study on respiratory illness (e.g COVID-19, influenza, flu) and their effect on taste and smell !
layout: survey-base
sitemap:
  priority: 0.9
---
<!-- Survey box -->
<section class="page-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- A better way to go about this should be thought of... -->
        <div class="img-fluid text-center">
        <a href="https://gcchemosensr.org/">
            <img src="/assets/img/logo_draft_white.jpg" class="rounded" width="300" height="170" alt="GCCR Logo">
        </a>
        </div>
        <hr>
        <div class="w-100 pb-1"></div>
          
        <h2 id="sequence" class="section-heading text-uppercase pt-3" style="height: 200px;"></h2>
        <p class="text-muted">The <a href="/" target="_blank">GCCR</a> is a group of 600 scientists, clinicians, and patient advocates across 50 countries founded in response to the COVID-19 pandemic. </p>
        <p class="text-muted">Our goal is to collect evidence-based information to combat the spread of COVID-19. Help us! </p>
        <div class="row">
        {% comment %}
          Assign a direct link to compusense if there's no translated template available
        {% endcomment %}
        {% assign available_languages = site.surveys | map: "title" %}
        {% assign all_languages = site.surveys | concat: site.data.survey-links | map: "title" | uniq %}
        {% assign surveys = site.surveys %}
        {% for language in all_languages %}
          {% unless available_languages contains language %}
            {% assign item = site.data.survey-links | where_exp: "survey", "survey.title == language" | first %}
            {% assign surveys = surveys | push: item %}
          {% endunless %}
        {% endfor %}
        {% assign surveys = surveys | sort: "title" %}
        {% for survey in surveys %}
          {% assign lang = survey.lang | default: 'en_US' %}
          {% assign url = survey.url | default: survey.survey_url %}
          <div class="col-sm-6 col-md-4 col-lg-4">
              <a lang="{{ lang }}" href="{{ url }}" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{{ survey.title }}</a>
              <div class="w-100 pb-1"></div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="w-100 pb-1"></div>
    <hr>
    <div class="row col-lg-12 text-center">
      {% include share-survey.html %}
    </div>
  </div>
</section>

<div class="container text-center pb-3">
  <p class="text-muted">This study has been approved by the human subjects office at Penn State in the USA, and these data will be collected and stored on EU and US data-privacy laws compliant servers located in Canada.</p>
</div>

<script>
  var textArray = ['Hello! Please select your language', '¡Hola! Por favor selecciona tu idioma', 'Ciao! Seleziona la tua lingua', 'Bonjour ! Veuillez sélectionner votre langue', 'Hallo! Bitte wählen Sie Ihre Sprache', 'こんにちは！ 言語を選択してください'];
  var index = 1;
  document.getElementById('sequence').innerHTML = textArray[0];
  setInterval(function(){        
    $("#sequence").animate({
      opacity:0
    }, function() {
      if (textArray.length > index) {
        $(this).text(textArray[index]).animate({opacity:1});
        index++; 
      }
      else {
        $(this).text(textArray[0]).animate({opacity:1});
        index = 1;
      }
    });
  }, 1800);
</script>
