---
title: GCCR surveys
description: Participate in the GCCR study on respiratory illness (e.g COVID-19, influenza, flu) and their effect on taste and smell !
layout: survey-base
sitemap:
  priority: 0.9
---
<!-- Survey box -->
<section class="page-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- A better way to go about this should be thought of... -->
        <div class="img-fluid text-center">
        <a href="https://gcchemosensr.org/">
            <img src="/assets/img/logo_draft_white.jpg" class="rounded" width="300" height="170" alt="GCCR Logo">
        </a>
        </div>
        <hr>
        <div class="w-100 pb-1"></div>
          
        <h2 id="sequence" class="section-heading text-uppercase pt-3" style="height: 200px;"></h2>
        <p class="text-muted">The <a href="/" target="_blank">GCCR</a> is a group of 600 scientists, clinicians, and patient advocates across 50 countries founded in response to the COVID-19 pandemic. </p>
        <p class="text-muted">Our goal is to collect evidence-based information to combat the spread of COVID-19. Help us! </p>
        {% assign btn_class = "btn btn-lg btn-primary btn-block" %}
        {% include survey-links.html %}
      </div>
    </div>
    
    <div class="w-100 pb-1"></div>
    <hr>
    <div class="row col-lg-12 text-center">
      {% include share-survey.html %}
    </div>
    <div class="py-5 col-lg-12 text-right">
        <a href="/index.html">← GCCR Homepage</a>
    </div>
  </div>
</section>

<div class="container text-center pb-3">
    <p class="text-muted"><i>This study has been approved by the human subjects office at Penn State in the USA, and these data will be collected and stored on EU and US data-privacy laws compliant servers located in Canada.</i></p>
</div>

<script>
  var textArray = ['Hello! Please select your language', '¡Hola! Por favor selecciona tu idioma', 'Ciao! Seleziona la tua lingua', 'Bonjour ! Veuillez sélectionner votre langue', 'Hello! Please select your language', 'Hallo! Bitte wählen Sie Ihre Sprache', 'こんにちは！ 言語を選択してください'];
  var index = 1;
  document.getElementById('sequence').innerHTML = textArray[0];
  setInterval(function(){        
    $("#sequence").animate({
      opacity:0
    }, function() {
      if (textArray.length > index) {
        $(this).text(textArray[index]).animate({opacity:1});
        index++; 
      }
      else {
        $(this).text(textArray[0]).animate({opacity:1});
        index = 1;
      }
    });
  }, 1800);
</script>
