---
layout: survey-base
---
{% if "Arabic Hebrew Persian Urdu" contains page.language %}
  {% assign text_dir = 'dir="rtl"' %}
{% endif %}
{% assign emails_list = page.leader_email | split: " " %}
{% capture emails %}{% for mail in emails_list %}<a href="mailto:{{ mail }}">{{ mail }}</a>,{% endfor %}{% endcapture %}
{% assign emails = emails | split: "," %}

<!-- Survey box -->
<section class="page-section" id="intro">
  <div class="container" {{ text_dir }}>
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <div class="img-fluid text-center">
          <a href="{{ site.url }}">
              <img src="/assets/img/logo_draft_white.jpg" class="rounded" width="300" height="170" alt="GCCR Logo">
          </a>
        </div>
        <hr/>
          
        <h2 class="section-heading text-uppercase py-5">{{ page.description }}</h2>
        
        {% if page.take_selfcheck %}
        <!-- MCQ that takes users to the right tool -->
        
        <div class="text-center">
            <div style="display: inline-block; text-align: left;">

              {% for choice in page.selfcheck_choices %}
              <div class="form-check">
                <input class="form-check-input mcq-tools" type="radio" name="mcq-tools" value="option{{ forloop.index}}" id="mcq-tools-{{ forloop.index}}">
                <label class="form-check-label" for="mcq-tools-{{ forloop.index}}">
                  {{ choice }}
                </label>
              </div>
              {% endfor %}

            </div>
        </div>

        <div style="height: 5em;"></div>

        <!-- Modal survey -->
        <div class="modal fade" id="ModalSurvey" tabindex="-1" role="dialog" aria-labelledby="modal title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalSurveyTitle">{{ page.description }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ page.selfcheck_response }}
                <hr/>
                <a href="{{ page.survey_url }}" class=" btn btn-lg btn-primary text-uppercase" target="_blank">{{ page.take_survey }}</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal self-check -->
        <div class="modal fade" id="ModalSelfCheck" tabindex="-1" role="dialog" aria-labelledby="modal title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalSelfCheckTitle">{{ page.description }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ page.selfcheck_response }}
                <hr/>
                <a href="{{ page.selfcheck_url }}" class=" btn btn-lg btn-primary text-uppercase" target="_blank">{{ page.take_selfcheck }}</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal both -->
        <div class="modal fade" id="ModalBoth" tabindex="-1" role="dialog" aria-labelledby="modal title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalBothTitle">{{ page.description }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ page.selfcheck_response }}
                <hr/>
                <a href="{{ page.selfcheck_url }}" class=" btn btn-lg btn-primary text-uppercase" target="_blank">{{ page.take_selfcheck }}</a>
                <a href="{{ page.survey_url }}" class=" btn btn-lg btn-primary text-uppercase mt-1" target="_blank">{{ page.take_survey }}</a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Logic behind the mcq tool -->
        <script src="/assets/js/mcq-tool.js"></script>

        {% else %}
        <a href="{{ page.survey_url }}" class="col-lg-6 btn btn-xl btn-primary text-uppercase" target="_blank">{{ page.take_survey }}</a>

        {% endif %}

        {% include share-survey.html %}

        <div class="w-100 pt-1 pb-5"></div>
        
        <div class="text-left">
          {{ page.hello }}
          {{ content }}
          
          {{ page.contact }} ({{ emails | join: ", " }})
          {% if page.take_selfcheck %}
          <br/> 
          {{ page.contact_selfcheck }} (<a href="mailto:{{ page.email_selfcheck }}">{{ page.email_selfcheck }}</a>)
          {% endif %}
        </div>

      </div>
      <div class="py-5 col-lg-12 text-right">
        <a href="/surveys/">← Back to language selection</a>
      </div>
    </div>
  </div>
</section>

<!-- Empty section for spacing -->
<div style="height: 10em;"></div>