---
layout: survey-base
---
<!-- Survey box -->
<section class="page-section" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase py-5">{{ page.description }}</h2>

        <a href="{{ page.survey_url }}" class="col-lg-6 btn btn-xl btn-primary text-uppercase" target="_blank">{{ page.take_survey }}</a>

        {% include share-survey.html %}

        <div class="w-100 pt-1 pb-5"></div>
        
        {{ page.hello }}
        {{ content }}

        {{ page.contact }} (<a href="mailto:{{ page.leader_email }}">{{ page.leader_email }}</a>)

      </div>
      <div class="py-5 col-lg-12 text-right">
        <a href="/surveys/">← Back to language selection</a>
      </div>
    </div>
  </div>
</section>

<!-- Empty section for spacing -->
<div style="height: 10em;"></div>